
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
    .navbar-default{
        padding-top:5px;
        padding-bottom: 5px;
    }
}

.navbar-toggle{
    border:none;
}

.navbar-toggle .icon-bar {
    background: #fff;
}